*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#heading{
    text-align: center; 
}

#tools{
    width: 95vw;
    background-color: lightskyblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px; /* Adds space between flex items */
    height: 12vh;
    padding:0 10px;
    border-radius: 20px;
    margin-top: 10px;

}

#drawing{
    font-weight: 700; 
}


.colorInput{
    width:7%;
    display: flex;
    align-items: center;
}

.brushSizeInput{
    
    display : flex;
    align-items: center;
}


.button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:5px;
    border-radius: 10px;
    border:none;
    background-color: #cbf3bb;;
}

.activeBtn {
  background-color: rgb(246, 196, 105);
  border: 1px solid #000000;
}

#canvas{
    margin-top: 10px;
    border: 5px solid  #cbf3bb;
    background-color: #ffffff;

}



